<div class="div_edit_upl">
<%= form_for([@upl.project, @upl]) do |f| %>
  <% if @upl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upl.errors.count, "error") %> prohibited this upl from being saved:</h2>

      <ul>
      <% @upl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
  <%= f.label :upler %><br />
  <%= f.file_field :upler %>
</div>
  <div class="actions">
    <%= f.submit "Edit", class: "btn btn-primary"%>
  </div>
<% end %>
</div>